@import "~bootstrap/dist/css/bootstrap.min.css";
/*
body{
    background-color: aquamarine;
}
.container-center{
    text-align: center;

}
#My-resp{
    text-align: center;
}
#btn{
    text-align: center;
}*/